body{
font-family: 'Fredoka One', cursive;
margin:0px;
padding: 0px;
background-image: url("../img/fundo.png");
background-repeat: no-repeat;
}
ul{

	padding: 0px!important;
}
.logo{
	float: left;
    width: 150px;
    height: 150px;
    padding: 1px;
    position: absolute;
}
main{
	margin: 0 auto;
	width: 980px;
	position: relative;
}
.header-2{
	width: 980px;
	margin:0 auto;
	padding: 16px;
	
}
.menu-urls{
border-bottom: 3px solid #efefef;
height: 80px;
position: absolute;
}
.menu ul li{
	display: inline-block;
	color: #8b8b8b;
	margin-left: 15px;
	height: 50px;
}
.menu ul li:hover{
	border-bottom: 10px solid #00BAC6;
}
.menu ul li a:hover {
	color: #00BAC6;
}
.menu ul li a{
	color: #000000;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
}
.menu{
	width: 70%;
	float: left;
}
.busca{
	text-align: center;
	width: 30%;
	float: right;
}
.busca input{
	background-image: url("../img/lupa.png");
	background-repeat: no-repeat;
	background-position:right 14px;
	height: 36px;
	padding: 2px;
	width: 190px;
	margin-top:4px; 
	border:1px solid #00BAC6;
}
.col-100{
	width: 100%;
	float: left;
	position: relative;
	background-color: #287393;
}
button.slick-prev{
	font-size: 0px;
	border:none;
	width: 72px;
	height: 72px;
	z-index: 9;
	background-color: transparent;
	position: absolute;
	background-image: url('../img/seta.png');
	top: 35%;
	left: 0; 
}
button.slick-next{
	font-size: 0px;
	border:none;
	width: 72px;
	height: 72px;
	z-index: 9;
	background-color: transparent;
	position: absolute;
	background-image: url('../img/seta1.png');
	top: 35%;
	right: 0; 
}