body{
margin:0px;
padding: 0px;
background-image: url("../img/fundo.png");
background-repeat: no-repeat;
}
ul{

	padding: 0px!important;
}
.menu-principal{
	width: 100%;
	background-color: #99bbff;
	height: 60px;
}
.logo{
	float: left;
    width: 125px;
    height: 58px;
    padding: 1px;
}
main{
	margin: 0 auto;
	width: 980px;
	position: relative;
}
.header-2{
	width: 980px;
	margin:0 auto;
	padding: 16px;
	
}
.menu-urls{
border-bottom: 3px solid #efefef;
height: 80px;
}
.menu ul li{
	display: inline-block;
	color: #8b8b8b;
	margin-left: 15px;
}
.menu ul li a:hover {
	color: #00bac6;
	border-bottom: 1px solid #00bac6;
}
.menu ul li a{
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
}
.menu{
	width: 50%;
	float: left;
	margin-left: 170px;
}
.busca{
	text-align: center;
	width: 30%;
	float: right;
}
.busca input{
	background-image: url("../img/lupa.png");
	background-repeat: no-repeat;
	background-position:right 14px;
	height: 36px;
	padding: 2px;
	width: 190px;
	margin-top:4px; 
	border:1px solid #d6d6d6;
}
.col-100{
	width: 100%;
	float: left;
	position: relative;
}